section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-image: url('../../assets/ChatGPT Image 9 de mai. de 2026, 11_05_05.png');
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}